<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>
    <button onclick="location.href='/scrape'">Go to Scrape</button>
    <button onclick="location.href='/'">Go Home</button>
    <div>
    <form method="POST" action="/dashboard">
        <label for="collection">Mongo Collection:</label>
        <input type="text" id="collection" name="collection" required>
        <button type="submit">Refresh Data</button>
    </form>
        {% for tweet in data %}
            <p>Tweet Id: {{ tweet.tweetId }}</p>
            <p>Tweet Timestamp: {{ tweet.tweetTimestamp }}</p>
            <p>Tweet Text: {{ tweet.tweetText | safe }}</p>
            <br>
        {% endfor %}
    </div>
</body>
</html>